# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

#Terraform variable files that may contain secrets
*tfvars
*tfvars.json

#Terraform plan files
tfplan
*.tfplan

#Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local environment files
.env

#OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea
